<form action="/file/rename/<%= file.id%>" method="POST" onsubmit="submitForm(this);return false">

<div>
    <label>Origin name: <%= file.filename %></label>
</div>

<div class="form-group">
    <label>New name:</label>
    <input type="filename" class="form-control" name="filename">
</div>

<button type="submit" class="btn btn-primary">Rename</button>
</form>


<script>
    async function submitForm(oFormElement) {

        var response = await fetch(oFormElement.action, {
            method: oFormElement.method,
            credentials: 'same-origin',
            body: new FormData(oFormElement),
        });

        if (response.ok) {
              // for res.ok() or res.json()
            alert("rename sucessfully");
            location.href= "/file/view"
            var name = req.session.username ; 
        } else if (response.status == 401) {
            var data = await response.text();   // for res.send()
            alert(data);
        } else {
            alert(response.statusText);
        }
        

    };

</script>