<form action="/file/upload" enctype="multipart/form-data" method="post">
<div class="form-group">
    <input type="file" name="file">
</div>
    <button type="submit" class="btn btn-primary">upload</button>
  </form>



